body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke;
}
.Container{
    display: flex;
    height: 950px;
     width: 60%;
    margin: auto;
    background-color: whitesmoke;
    margin-top: 30px;
}
.Purple{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 52, 227);
    width: 40%;
    color: white;
    padding: auto;
    border-radius: 30px;
    margin-left: 150px;
    
}
.one{
    margin: auto;
}
.White{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 30px;
}
.digital{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.digital img{
    width: 30px;
}
.flex{
    display: flex;
    text-align: left;
    margin-right: 370px;
    
}
.lex{
    display: flex;
    gap: 40%;
    width: 100%;
    padding-left: 110px;
}
input, select {
     width: 80%;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}
button{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(93, 52, 227);
    color: white;
    font-size: 20px;
}
.White input#check{
    width: 20px;
}
#next{
    display: flex;
}
.btn{
    display: flex;
    gap: 20px;
}
.btn button{
    background-color: white;
    color: black;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
}
input#checkit{
    width: 15px;
}
label{
    text-align: left;
}
input#show{
    width: 15px;
}
.fex{
    display: flex;
    justify-content: baseline;
    gap: 10px;
}
.fex label{
    margin-top: 15px;
}
.ex{
   display: flex;
    justify-content: baseline;
    gap: 10px; 
    margin-right: 62%;
}
.ex label{
    margin-top: 20px;
    
}
.tran img{
    width: 25px;
}